<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bookchigo.dao.MemberDao">

  <insert id="insertMember" parameterType="com.bookchigo.domain.Member">
   	<selectKey keyProperty="memberId" resultType="int" order="BEFORE">	
		SELECT MEMBER_SEQ.NEXTVAL FROM DUAL
	</selectKey>
  	
  	Insert Into 
  		Member
  		(MEMBERID, ACCOUNT, ID, PASSWD, NAME, PHONE, ADDRESS, TRADECOUNT)
  	VALUES
  		(#{memberId}, #{account}, #{username}, #{password}, #{name}, #{phone}, #{address}, 0)
  </insert>
  
  <select id="getPassword" parameterType="String" resultType="String">  	
  	Select PASSWD 
  		FROM Member
  		WHERE 
  			id = #{username}
  </select>
  
 
</mapper>